.chatHeader {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border: none;
    border-bottom: thin solid lightgrey;
    border-left: thin solid lightgrey;
}

.header-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
}