.user-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 20px; /* Gap between columns */
  max-width: 800px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.avatar-column {
  grid-column: 1; /* Avatar column spans the first column */
  display: flex;
  justify-content: center;
}

.details-column,
.credentials-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-avatar {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover; /* Ensure the avatar image is properly scaled */
}

label {
  padding-bottom: 2px;
  color: #232323;
}

.user-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 16px; /* Larger font size for better readability */
  color: #ccc;
}

.save-button {
  grid-column: 3; /* Position the save button on the right */
  padding: 10px 20px; /* Larger padding for a bigger, more clickable button */
  background-color: #007BFF; /* Blue background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 12px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Larger font size */
}

.save-button:hover {
  background-color: #0056b3; /* Darker blue background on hover */
}