.rating-container {
    display: flex;
    align-items: center;
}

.star {
    cursor: pointer;
    margin-right: 5px;
}

.star img {
    width: 26px; 
    height: 26px; 
}

.star img:hover {
    filter: brightness(0.9);
}